# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- R
- C++
- Matlab
- java

Some of the popular languages that Data Scientists use are:
1. Python
2. C++
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Tensor flow
3. Pandas

***Some Common Data Science Tools***

| Data Science Tools |
|--------------------|
| PowerBI |
| Tableau |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This is a simple arithetic expression to multiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author:
Brian V